# complile
*.swp

# Python
**/venv/
.env

**/compiled/
**/img/
**/.ipynb_checkpoints/
**/__pycache__/
.cache/

# Django
*.egg-info
*.pot
*.py[co]*
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

db.sqlite3

# Collected static files
collected_static/

# Test Plugins
.coverage

# JS & plugins
bower_components/
