<html>
  <head>
    <title>Hashtags</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=" crossorigin="anonymous"></script>
  </head>
<body>
  <form method="GET" action="{% block form_action %}{% endblock %}">
    {{ form.as_p }}
  {% block list_posts %}
  {% endblock %}

<script type="text/javascript">
	$(document).ready(function() {
		$( "#id_search_tag" ).autocomplete({
      source: "/",
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      var result = JSON.parse(item.label);
      if(result.length == 0) {
        return $( "<li>" )
          .append( "<a>" + 'not found' + "</a>" )
          .appendTo( ul );
      }
      else {
        return $( "<li>" )
          .append( "<a>" + result[0].fields.tag + "</a>" )
          .appendTo( ul );
      };
    };
	})
</script>

</body>
</html>
